.gitHubLogo{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 30px;
    max-height: 30px;
    fill: #696969;
}

.gitHubLogo:hover{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: 30px;
    max-height: 30px;
    fill: #000;
}

.gitHubLogoAnchor{
    height:30px;
    width:30px;
}

.gitHubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}