@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

h1{
    font-family: 'Abel', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 19px;
    color: #696969;
    margin-top: 3px;
    margin-bottom: 8px;
}

img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    filter:brightness(120%);
    box-shadow: 0 10px 10px #b5b5b5;
}

.nameContainer{
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
