@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

.navBar{
    float: right;
    padding-right: 26px;
    font-size: 26px;
}

.navBar li{
    display: inline;
    font-family: 'Abel', sans-serif;
    padding: 0 8px 0 8px;
}

.link:hover{
    color: #009dd1;
    cursor: pointer;
    letter-spacing: .02em;
    transition-duration: .2s;
}

.link{
    text-decoration: none;
    color: #696969;
    transition-duration: .2s;
}

.active{
     color: #000;
 }
.active:hover{
    color: #000;
}