@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
}

.containingDiv{
    height: 100%;
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 170px;
}

.title{
     font-family: 'Titillium Web';
     text-align: center;
     color: white;
 }

.subtitle{
    font-family: 'Titillium Web';
    text-align: center;
    color: black;
    font-weight: 200;
    font-size: 15px;
}